{% if template_engine.is_jinja %}
{% raw %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ app.name }}</title>
  <link href="{{ static('styles.css') }}" rel="stylesheet">
</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
{% endraw %}
{% endif %}
