{#
Life gets slightly tricky here as wer're generating jinja2 with jinja2 and have to have logic
inside the page for `if example.is_message_board`, easiest not to use `raw` at all and render eventual
jinja2 tags as strings.
#}
{% if template_engine.is_jinja %}
{{ "{% extends 'base.jinja' %}" }}

{{ '{% block content %}' }}
  <p>{{ '{{ intro }}' }}</p>
{% if example.is_message_board %}
  <p>
    To demonstrate a little of the functionality of aiohttp this app implements a very simple message board.
  </p>
  <b>
    <a href="{{ "{{ url('messages') }}" }}">View and add messages</a>
  </b>
{% endif %}
{{ '{% endblock %}' }}
{% endif %}
