env/
env35/
env36/
env37/
.idea/
__pycache__/
*.py[cod]
*.cache
.pytest_cache/
.coverage.*
.coverage
htmlcov/
/build/
/dist/
*.egg-info
docs/_build/
/aiohttp_devtools/runserver/livereload.js
testapp/
foobar
/junit-test-results.xml
