diff-match-patch
env/
env35/
env36/
.idea/
__pycache__/
*.py[cod]
*.cache
.coverage.*
.coverage
htmlcov/
/build
/dist
*.egg-info
docs/_build/
/aiohttp_devtools/runserver/livereload.js
testapp/
foobar
