language: python

cache: pip

services:
- postgresql

python:
- '3.5'
- '3.6'
- 'nightly'  # currently 3.7

env:
# TODO change when 3 is released
- 'AIOHTTP_VERSION=aiohttp==3.2.1'  # WARNING: if you change this, change it in deploy too
- 'AIOHTTP_VERSION=https://github.com/aio-libs/aiohttp/archive/master.zip'

matrix:
  allow_failures:
  - python: 'nightly'
  - env: 'AIOHTTP_VERSION=https://github.com/aio-libs/aiohttp/archive/master.zip'

install:
- make install
- pip install -U "${AIOHTTP_VERSION}"
- pip freeze

script:
- make lint
- make test
- ./tests/check_tag.py
#- make docs
- pip freeze
- ls -lha

after_success:
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: pypi
  user: samuelcolvin
  password:
    secure: "yxK4xE/qcKacIjSPbJzlUc1GG7cvcBn+5mzywUbYKgtiMFL1XGXXXqDC8HvEe0pG79Jr2uYezLkoWCdqkUWzQCPKZGG6lqnOWwP8S6LZbyHnSPw9KrHXia2a6zhcTWGg1CD0N9/8vQq3+nauHYXteDKo6pplbVi0/gLTiTQNJnT7V+nJzNR1jh7wlqkYCwzZ0wPbPSEwCUNZ32LtpDDWIgJ3tzICM2vR2sUQKv3T4B2I9AHYoGVOSFNVH9BeneNzSyyAaskuQG+vN3zCbxLozxa3fyKmY34q9nEgvKbmfk05sk+AdCXNXRAyHENuopxF8UojpjP9j1ty/S3qfEsA3kT6Pv62kSLwsKcBuiUy4Ju1Mu37qwOMIT2XPmQ9Phbt5+V+VtSy3CClNSnuFQA2gUsjMNEe6j32KLJHu0lcQYFfou+5DYKs1oIf615m1x3JGsFLEgcDqTjCR3BAZoJ8N/b+aS6ZcRX7YLl6JbFiQ9Wvs7fSkXp4cntjDqnA0NAQ6fAjX9ByUBaXN2jndwm2qAmPHnZwHi5TJSIPXJUERE/1DRIz+EAFXiM2njUxSP0EOwqNlA4YzH919nfRNTLBPobk7XRa+6cyO5Z4Z24Tec0CqXIB+qBQo756H3bShdAAa1ZTF4CNZ7r9jPPGHQsZlWdd0Qs/uH5GWsLoiM9d0g4="
  distributions: sdist bdist_wheel
  # skip_cleanup: true is required to include livereload.js
  skip_cleanup: true
  on:
    tags: true
    python: 3.6
    condition: "$AIOHTTP_VERSION = aiohttp==3.2.1"
