-e .
click==8.0.2
coverage==6.0.1
docutils==0.17.1
flake8==3.9.2
grablib==0.8
mypy==0.910
pytest==6.2.5
pytest-aiohttp==0.3.0
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-sugar==0.9.4
pytest-timeout==1.4.2
pytest-toolbox==0.4
pytest-xdist==2.4.0
Sphinx==4.2.0
