aiohttp==3.9.4
aiohttp-jinja2==1.6
click==8.1.7
coverage==7.4.4
devtools==0.12.2
grablib==0.8
Pygments==2.17.2
pytest==6.2.5
pytest-aiohttp==1.0.5
pytest-asyncio==0.23.7
pytest-cov==5.0.0
pytest-forked==1.6.0
pytest-mock==3.14.0
pytest-sugar==0.9.7
pytest-timeout==2.2.0
pytest-toolbox==0.4
watchfiles==0.21.0
