aiohttp==3.9.3
aiohttp-jinja2==1.6
click==8.1.7
coverage==7.4.1
devtools==0.12.2
grablib==0.8
Pygments==2.17.2
pytest==8.0.0
pytest-aiohttp==1.0.5
pytest-asyncio==0.20.3
pytest-cov==4.1.0
pytest-forked==1.6.0
pytest-mock==3.12.0
pytest-sugar==0.9.7
pytest-timeout==2.2.0
pytest-toolbox==0.4
watchfiles==0.21.0
