-e .
click==8.0.1
coverage==5.5
docutils==0.14
flake8==3.9.2
grablib==0.8
mypy==0.910
pytest==6.2.4
pytest-aiohttp==0.3.0
pytest-cov==2.12.1
pytest-mock==1.10.4
pytest-sugar==0.9.4
pytest-timeout==1.3.3
pytest-toolbox==0.4
pytest-xdist==1.28.0
Sphinx==4.1.2

# from aiohttp_devtools/start/template/requirements.txt
aiohttp==3.7.4.post0
aiohttp-jinja2==1.2
aiohttp-session[secure]==2.9.0
jinja2==2.11.3
pydantic==1.6.2;python_version>="3.6"
