aiohttp==3.11.11
aiohttp-jinja2==1.6
click==8.1.8
coverage==7.6.10
devtools==0.12.2
grablib==0.8
Pygments==2.17.2
pytest==6.2.5
pytest-aiohttp==1.1.0
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-forked==1.6.0
pytest-mock==3.14.0
pytest-sugar==1.0.0
pytest-timeout==2.2.0
pytest-toolbox==0.4
pytest-datafiles==3.0.0
watchfiles==1.0.4
