coverage
docutils
flake8
ghp-import
pytest
pytest-aiohttp
pytest-cov
pytest-isort
pytest-mock
pytest-sugar
pytest-xdist
sphinx

# required to run "start" apps
aiohttp-jinja2
aiohttp-session[secure]
aiohttp-session[aioredis]
aiopg
SQLAlchemy
