aiohttp_debugtoolbar==0.5.0
click==7.0.0
coverage==4.5.3
docutils==0.14
flake8==3.7.7
grablib==0.6.1  # pyup: ignore (last version which is compatible with python 3.5)
isort==4.3.20
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==4.4.1
pytest-aiohttp==0.3.0
pytest-cov==2.6.1
pytest-mock==1.10.4
pytest-sugar==0.9.2
pytest-timeout==1.3.3
pytest-toolbox==0.4
pytest-xdist==1.28.0
Sphinx==3.0.4

# from aiohttp_devtools/start/template/requirements.txt
aiohttp==3.7.4.post0
aiohttp-jinja2==1.4.2
aiohttp-session[secure]==2.9.0
asyncpg==0.22.0
pydantic==1.8.1;python_version>="3.6"
