# {# This file is special: lines are made unique, stripped and sorted before the new requirements.txt file is created #}
# you will need to install these requirements with `pip install -r requirements.txt`

aiohttp==2.3.9
pytest==3.2.3
pytest-aiohttp==0.1.3
pytest-cov==2.5.1

# {% if template_engine.is_jinja %}
aiohttp-jinja2==0.14.0
# {% endif %}

# {% if session.is_secure %}
aiohttp-session[secure]==1.0.1
# {% endif %}

# {% if database.is_pg_sqlalchemy %}
aiopg==0.13.1
SQLAlchemy==1.1.14
# {% endif %}
