{# This file is special: lines are made unique, stripped and sorted before the new requirements.txt file is created #}

aiohttp==1.1.6
trafaret-config==1.0.1

{% if template_engine.is_jinja2 %}
  aiohttp-jinja2==0.8.0
{% endif %}

{% if session.is_secure %}
  aiohttp-session[secure]==0.7.1
{% elif session.is_redis %}
  aiohttp-session[aioredis]==0.7.1
{% endif %}

{% if database.is_postgres_sqlalchemy or database.is_postgres_raw %}
  aiopg==0.12.0
  {% if database.is_postgres_sqlalchemy %}
    SQLAlchemy==1.1.4
  {% endif %}
{% endif %}
